<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- 为com.bolingcavalry包设置日志级别 -->
    <logger name="com.bolingcavalry" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>