*.iml
.idea
target/*
*/target
*/.idea
*/*/.idea
*/*/.gradle/*
kubebuilder/elasticweb/bin/*
jetcd-tutorials/.gradle/*
.DS_Store
grpc-tutorials/.gradle/*
leetcode/out
leetcode/.vscode/*
tutorials/gorm-tutorials/test.db
tutorials/object-tutorials/.history
tutorials/leader-tutorials/.history
tutorials/object-tutorials/.history/*
tutorials/leader-tutorials/.history/*
