<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                            http://www.springframework.org/schema/context  
                            http://www.springframework.org/schema/context/spring-context-3.1.xsd
							http://code.alibabatech.com/schema/dubbo
        					http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 自动扫描 -->
	<context:component-scan base-package="com.bolingcavalry" />

	<!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
	<dubbo:application name="dubbo_service_consumer" />
	<!-- 使用multicast广播注册中心暴露发现服务地址 -->
	<!--
	<dubbo:registry  protocol="zookeeper"  address="192.9.145.19:2181,192.9.145.19:2182,192.9.145.19:2183" />
	-->
	<dubbo:registry address="zookeeper://zkhost:2181" />
	<!-- 生成远程服务代理，可以和本地bean一样使用demoService -->
	<dubbo:reference id="calculateService" interface="com.bolingcavalry.service.CalculateService" />
	<dubbo:reference id="platformService" interface="com.bolingcavalry.service.PlatformService" />

</beans>