<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                            http://www.springframework.org/schema/context  
                            http://www.springframework.org/schema/context/spring-context-3.1.xsd
							http://code.alibabatech.com/schema/dubbo
        					http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 自动扫描 -->
	<context:component-scan base-package="com.bolingcavalry" />

	<dubbo:application name="dubbo_service_provider" />
	<!-- 本机 伪集群 测试 -->
	<!--
    <dubbo:registry  protocol="zookeeper"  address="192.9.145.19:2181,192.9.145.19:2182,192.9.145.19:2183"  />
    -->
	<dubbo:registry address="zookeeper://zkhost:2181" />
	<dubbo:protocol name="dubbo" port="20880" />
	<dubbo:service interface="com.bolingcavalry.service.CalculateService"
				   ref="calculateService" />
	<!-- 和本地bean一样实现服务 -->
	<bean id="calculateService" class="com.bolingcavalry.service.impl.CalculateServiceImpl" />
</beans>