reindex
.libs
*.swp
*.slo
*.la
*.swo
*.lo
*~
*.o
print.txt
.rsync
*.tar.gz
dist
build[789]
build
tags
update-readme
*.tmp
test/Makefile
test/blib
test.sh
t.sh
t/t.sh
t/servroot/
releng
reset
*.t_
genmobi.sh
*.mobi
misc/chunked
ctags
src/module.c
src/util.c
src/util.h
all
go
build1[0-9]
buildroot/
work/
Makefile
nginx
*.plist
