<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- 映射文件中的类不用写全路径了-->
        <package name="com.bolingcavalry.relatedoperation.entity"/>
    </typeAliases>
</configuration>
